<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-6" th:object="${car}">
                <form th:action="@{'/update-car'}" method="post">
                    <input type="hidden" name="id" th:value="${car.id}">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <input type="text" class="form-control" name="model" th:value="${car.model}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2">
                            <input type="number" class="form-control" name="year" th:value="${car.year}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2">
                            <input type="number" class="form-control" name="volume" th:value="${car.volume}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2">
                            <input type="number" class="form-control" name="price" th:value="${car.price}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2">
                            <button class="btn btn-success btn-sm">UPDATE CAR</button>
                        </div>
                    </div>
                </form>
                <form th:action="@{'/delete-car'}" method="post">
                    <input type="hidden" name="id" th:value="${car.id}">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <button class="btn btn-danger btn-sm">DELETE CAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>