<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
    <div th:insert="nav.html"></div>
    <div class="container mt-2">
        <div class="row">
            <div layout:fragment="content" class="col-9"></div>
            <div th:insert="list-group.html" class="col-3"></div>
        </div>
    </div>
</body>
</html>