<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <table class="table table-dark table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>SURNAME</th>
                            <th>AGE</th>
                            <th>GPA</th>
                            <th>BIO</th>
                            <th>DETAILS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student: ${list}">
                            <td th:text="${student.id}"></td>
                            <td th:text="${student.name}"></td>
                            <td th:text="${student.surname}"></td>
                            <td th:text="${student.age}"></td>
                            <td th:text="${student.gpa}"></td>
                            <td th:text="${student.bio}"></td>
<!--                            <td style="width: 8%"><a class="btn btn-secondary btn-sm" th:href="@{'/car-details/' + ${car.id}}">DETAILS</a></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>